*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: rgb(48, 19, 74);
}
.input-box{
    background: #fff;
    width:90%;
    max-width: 500px;
    border-radius: 5px;
    padding:10px 20px;
    margin:300px auto;
}